body {
    margin: 0px;
    padding: 0px;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    color:#666666;
}
#upload-wrapper {
    width: 50%;
    margin-right: auto;
    margin-left: auto;
    margin-top: 50px;
    background: #F5F5F5;
    padding: 50px;
    border-radius: 10px;
    box-shadow: 1px 1px 3px #AAA;
}
#upload-wrapper h3 {
    padding: 0px 0px 10px 0px;
    margin: 0px 0px 20px 0px;
    margin-top: -30px;
    border-bottom: 1px dotted #DDD;
}
#upload-wrapper input[type=file] {
    border: 1px solid #DDD;
    padding: 6px;
    background: #FFF;
    border-radius: 5px;
}
#upload-wrapper #submit-btn {
    border: none;
    padding: 10px;
    background: #61BAE4;
    border-radius: 5px;
    color: #FFF;
}
#output{
    padding: 5px;
    font-size: 12px;
}
#output img {
    border: 1px solid #DDD;
    padding: 5px;
}

/* progress bar style */
#progressbox {
    border: 1px solid #92C8DA;
    padding: 1px;
    position:relative;
    width:400px;
    border-radius: 3px;
    margin: 10px;
    display:none;
    text-align:left;
}
#progressbar {
    height:20px;
    border-radius: 3px;
    background-color: #77E0FA;
    width:1%;
}
#statustxt {
    top:3px;
    left:50%;
    position:absolute;
    display:inline-block;
    color: #000000;
}